body {
    background: lavenderblush;
    width: 100%;  
}

.container {
    margin: auto;
    width: 80%;
    background: lightgray;
    padding: 10px;
    text-align: center;
    font-family: 'Gayathri', sans-serif;
}